<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620350867789-at1cmkt4ag0c6ebbrjl498encrrllffc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620350867789-at1cmkt4ag0c6ebbrjl498encrrllffc</string>
	<key>API_KEY</key>
	<string>AIzaSyAJKdGKEC84UpHlOkvru5697YoTMWT4rWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>620350867789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>newSUNIT.Junior-Design-Project</string>
	<key>PROJECT_ID</key>
	<string>project-2ca33</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2ca33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620350867789:ios:09172e74b017fb4a</string>
	<key>DATABASE_URL</key>
	<string>https://project-2ca33.firebaseio.com</string>
</dict>
</plist>